body {
    height: 100vh;
    text-align: center;
    color: white;
    background-color: black;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    font-size: 3vh;
}

h1 {
    font-size: 5vh;
}

button {
    background-color: black;
    color: white;
    padding: 3vh 7vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}